In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/raw/autoscout24-germany-dataset.csv")
print(df.shape)
df.head(10)

(46405, 9)

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
5,147000,Toyota,Auris,Electric/Gasoline,Automatic,Used,6950,99.0,2011
6,91894,Renault,Scenic,Diesel,Manual,Used,6970,131.0,2011
7,127500,Opel,Zafira,Gasoline,Manual,Used,6972,116.0,2011
8,115000,Mazda,3,Gasoline,Automatic,Used,6980,150.0,2011
9,104,Ford,Transit,Diesel,Manual,Used,6990,86.0,2011

In [7]:
df = df[df['offerType']=="Used"]
print(df.shape)

(40122, 9)

In [9]:
cols = df.drop(columns=['mileage', 'price', 'hp', 'year'])
for col in cols:
    df[col] = df[col].str.lower()

In [10]:
df = df.drop(columns=['offerType'])
df.head()

   mileage        make   model      fuel    gear  price     hp  year
0   235000         bmw     316    diesel  manual   6800  116.0  2011
1    92800  volkswagen    golf  gasoline  manual   6877  122.0  2011
2   149300        seat    exeo  gasoline  manual   6900  160.0  2011
3    96200     renault  megane  gasoline  manual   6950  110.0  2011
4   156000     peugeot     308  gasoline  manual   6950  156.0  2011

In [13]:
df = df.dropna()

In [14]:
df.to_csv("../data/autoscout24.csv", index=False)